:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'StackSans';
  src: url('../src/assets/font/Stack_Sans_Text/static/StackSansText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'StackSans';
  src: url('../src/assets/font/Stack_Sans_Text/static/StackSansText-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'StackSans';
  src: url('../src/assets/font/Stack_Sans_Text/static/StackSansText-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../src/assets/font/FiraSans-BoldItalic.ttf') format('truetype');
}
@import 'tailwindcss';

@theme {
  /* --color-purple: #8a66f1; */

  --font-stacksans: 'StackSans', sans-serif;
  --font-fira: 'FIraSans', sans-serif;
}
html,
body {
  font-family: var(--font-stacksans);
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  max-width: 100%;
  overflow-y: auto;
  
}
button {
  font-weight: 600;
}
/* .gradient {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(207, 205, 205),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1rem;
} */
/* .hamburger {
  color: #e7e7e7;
  background-color: #000000;
  border-radius: 50%;
  padding: 0.8rem;
  width: 3rem;
  height: 3rem;
}
.hamburger-close {
  color: #e7e7e7;
  background-color: #383838;
  border-radius: 50%;
  padding: 0.8rem;
  width: 3rem;
  height: 3rem;
} */
.bar {
  display: block;
  width: 20px;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #d1d0d0;
  transform-origin: center;
}
.hamburger {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #252525;
  border-radius: 50%;
  padding: 0.8rem;
  width: 3rem;
  height: 3rem;
  outline: none;
}
.hamburger:hover {
  background-color: #ececec;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.hamburger:hover .bar {
  display: block;
  width: 20px;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #252525;
  transform-origin: center;
}
.hamburger-side {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgb(43, 42, 42);
  border-radius: 50%;
  padding: 0.8rem;
  width: 3rem;
  height: 3rem;
  outline: none;
}
.bar-side {
  display: block;
  width: 20px;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  transform-origin: center;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(3px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
  transform: translateY(-8px) rotate(-45deg);
}
.hamburger-side.active .bar-side:nth-child(1) {
  transform: translateY(3px) rotate(45deg);
}
.hamburger-side.active .bar-side:nth-child(2) {
  transform: translateY(-8px) rotate(-45deg);
}
.hamburger-side:hover {
  background-color: #ececec;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.hamburger-side.active:hover .bar-side:nth-child(1),
.hamburger-side.active:hover .bar-side:nth-child(2) {
  background-color: black;
}
@media (hover: hover) and (pointer: fine) {
  .hamburger-side.active:hover .bar-side:nth-child(1),
  .hamburger-side.active:hover .bar-side:nth-child(2) {
    background-color: black;
  }
}
.menu-div {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1000px;
  overflow: hidden;
}

.cont {
  perspective: 800px;
  transform-style: preserve-3d;
}

.ul {
  transform: translateZ(700px);
  opacity: 0;
  transition: transform 0.45s cubic-bezier(0.22, 0.8, 0.36, 1),
    opacity 0.35s ease;
  will-change: transform, opacity;
  backface-visibility: hidden;
}
.fly-in {
  opacity: 1;
  transform: translateZ(0);
}
.fly-out {
  transform: translateZ(400px);
  opacity: 0;
  transition-timing-function: cubic-bezier(0.45, 0, 0.8, 0.2);
  transition-duration: 0.8s;
}
.logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.mobile-nav-box {
  display: flex;
  justify-content: space-between;
}
.cta-btn {
  background-color: #000000;
  color: #fff;
  width: 19vw;
  font-size: 0.9rem;
  border: none;
  border-radius: 3rem;
  height: 7vh;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s,
    color 0.6s ease-in-out 0.15s, transform 0.5s ease-in-out;
}
.ctatwo-btn {
  background-color: #ffff;
  color: #000000;
  width: 19vw;
  font-size: 0.9rem;
  border: none;
  border-radius: 3rem;
  height: 7vh;
  transition: background-color 0.2s ease-in-out 0.1s, transform 0.3s ease-in-out;
}
/* @media (min-width: 1024px) {
  .cta-btn {
    position: relative;
    background: #252525;
    color: #fff;
    overflow: hidden;
    border: solid 1px black;
  }
  .cta-btn::before {
    width: 0;
    height: 4.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transition: all 0.35s;
    content: '';
    z-index: 2;
  }

  .cta-btn::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    background-color: #ececec;
    transform: translate(0, -100%);
    transition: all 0.35s;
    content: attr(data-hover);
    color: #0a0a0a;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cta-btn:hover::before {
    width: 100%;
  }

  .cta-btn:hover::after {
    transform: translate(0, 0);
  }
  .cta-btn:active {
    transform: scale(0.96);
  }
  .cta-btn.active {
    position: relative;
    background: #ffff;
    color: #252525;
    overflow: hidden;
  }
} */
.greeting-container {
  transform-origin: bottom center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
}
.pleasantries-text {
  display: block;
  will-change: transform, opacity;
}
.btn2 {
  background-color: #000000;
  color: #fff;
  border-radius: 2rem;
  border: none;
  height: 6.8vh;
  width: 100%;
  font-size: 1.2rem;
}
.btn3 {
  border: solid 2px#888888;
  border-radius: 2rem;
  height: 6.8vh;
  width: 100%;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .btn2 {
    background-color: #000000;
    color: #fff;
    border-radius: 2rem;
    border: none;
    height: 8vh;
    width: 100%;
    font-size: 1.2rem;
  }
  .btn3 {
    border: solid 2px#888888;
    border-radius: 2rem;
    height: 8vh;
    width: 100%;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .btn2 {
    background-color: #000000;
    color: #fff;
    width: 18vw;
    font-size: 0.9rem;
    border: none;
    border-radius: 3rem;
    height: 8vh;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s,
      color 0.6s ease-in-out 0.15s, transform 0.5s ease-in-out;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  .btn2::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #455ce9;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    border-radius: inherit;
    z-index: 2;
  }
  .btn2::after {
    content: attr(data-hover);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transform: translateY(150%);
    transition: transform 0.25s ease-in-out;
    font-weight: 600;
    font-size: inherit;
    z-index: 2;
  }
  .btn2:hover::before {
    transform: translateY(0);
  }
  .btn2:hover::after {
    transform: translateY(0);
  }
  .btn2 span {
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.1s ease;
  }

  .btn2:hover span {
    transform: scale(0.1);
    opacity: 0.2;
  }
  .btn3 {
    border: solid 2px#888888;
    border-radius: 2rem;
    height: 8vh;
    width: 18vw;
    font-size: 0.9rem;
  }
  .btn3 {
    background-color: #ffffff;
    color: #020202;
    width: 18vw;
    font-size: 0.9rem;
    border: solid 2px#888888;
    border-radius: 2rem;
    height: 8vh;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s,
      color 0.6s ease-in-out 0.15s, transform 0.5s ease-in-out;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  .btn3::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #455ce9;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    border-radius: inherit;
    z-index: 2;
  }
  .btn3::after {
    content: attr(data-hover);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transform: translateY(150%);
    transition: transform 0.25s ease-in-out;
    font-weight: 600;
    font-size: inherit;
    z-index: 2;
  }
  .btn3:hover::before {
    transform: translateY(0);
  }
  .btn3:hover::after {
    transform: translateY(0);
  }
  .btn3 span {
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.1s ease;
  }

  .btn3:hover span {
    transform: scale(0.1);
    opacity: 0.2;
  }
  .cta-btn {
    background-color: #000000;
    color: #fff;
    width: 12vw;
    font-size: 0.9rem;
    border: none;
    border-radius: 3rem;
    height: 8vh;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s,
      color 0.6s ease-in-out 0.15s, transform 0.5s ease-in-out;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  .cta-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #455ce9;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    border-radius: inherit;
    z-index: 2;
  }
  .cta-btn::after {
    content: attr(data-hover);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transform: translateY(150%);
    transition: transform 0.25s ease-in-out;
    font-weight: 600;
    font-size: inherit;
    z-index: 2;
  }
  .cta-btn:hover::before {
    transform: translateY(0);
  }
  .cta-btn:hover::after {
    transform: translateY(0);
  }
  .cta-btn span {
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.1s ease;
  }

  .cta-btn:hover span {
    transform: scale(0.1);
    opacity: 0.2;
  }
  .ctatwo-btn {
    background-color: #ffff;
    color: #000000;
    width: 12vw;
    font-size: 0.9rem;
    border: none;
    border-radius: 3rem;
    height: 8vh;
    transition: background-color 0.2s ease-in-out 0.1s,
      transform 0.3s ease-in-out;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  .ctatwo-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #455ce9;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    border-radius: inherit;
    z-index: 2;
  }
  .ctatwo-btn::after {
    content: attr(data-hover);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transform: translateY(150%);
    transition: transform 0.25s ease-in-out;
    font-weight: 600;
    font-size: inherit;
    z-index: 2;
  }
  .ctatwo-btn:hover::before {
    transform: translateY(0);
  }
  .ctatwo-btn:hover::after {
    transform: translateY(0);
  }
  .ctatwo-btn span {
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.1s ease;
  }

  .ctatwo-btn:hover span {
    transform: scale(0.1);
    opacity: 0.2;
  }
}
.stack-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}
.stack-container:hover img.first {
  transform: translateY(-5px) scale(1.07);
}
.stack-container img {
  position: absolute;
  width: 100%;
  transition: transform 0.4s ease-in-out;
  transform: translateZ(700px);
}
.title-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}
@media (max-width: 1023px) {
  #float.active .bar:nth-child(2) {
    transform: translateY(3px) rotate(45deg);
  }

  #float.active .bar:nth-child(3) {
    transform: translateY(-3px) rotate(-45deg);
  }
}

#float {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #252525;
  border-radius: 50%;
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
  outline: none;
}
#float-side {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #252525;
  border-radius: 50%;
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
  outline: none;
}
@media (min-width: 640px) {
  #float {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #252525;
    border-radius: 50%;
    padding: 0.8rem;
    width: 5rem;
    height: 5rem;
    outline: none;
  }
  #float-side {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #252525;
    border-radius: 50%;
    padding: 0.8rem;
    width: 5rem;
    height: 5rem;
    outline: none;
  }
}
@media (min-width: 1024px) {
  #float {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #070707;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    border: none;
    transition: background 0.3s ease;
  }
  .float-overlay {
    position: absolute;
    inset: 0;
    background-color: #455ce9;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
    z-index: 0;
  }

  #float:hover .float-overlay {
    transform: translateY(0);
  }
  #float .bar {
    position: relative;
    width: 24px;
    height: 3px;
    background-color: #f7f7f7;
    border-radius: 2px;
    margin: 4px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1;
  }
  #float.active .bar:nth-child(2) {
    transform: translateY(7px) rotate(45deg);
  }

  #float.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}
.floating-wrapper {
  pointer-events: none;
  opacity: 0;
  transform: translateZ(-400px);
  transition: opacity 0.2s linear;
}

.floating-wrapper.is-visible {
  pointer-events: auto;
  opacity: 1;
  transform: translateZ(0);
}

.floating-wrapper.is-hidden {
  pointer-events: none;
  opacity: 0;
}
.view-btn {
  background-color: #000000;
  color: #fff;
  border-radius: 2rem;
  border: none;
  height: 6.8vh;
  width: 17rem;
  font-size: 1rem;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .view-btn {
    background-color: #000000;
    color: #fff;
    width: 17vw;
    font-size: 0.9rem;
    border: none;
    border-radius: 3rem;
    height: 8vh;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  .view-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #455ce9;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    border-radius: inherit;
    z-index: 2;
  }
  .view-btn::after {
    content: attr(data-hover);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transform: translateY(150%);
    transition: transform 0.25s ease-in-out;
    font-weight: 600;
    font-size: inherit;
    z-index: 2;
  }
  .view-btn:hover::before {
    transform: translateY(0);
  }
  .view-btn:hover::after {
    transform: translateY(0);
  }
  .view-btn span {
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.1s ease;
  }

  .view-btn:hover span {
    transform: scale(0.1);
    opacity: 0.2;
  }
}
.cloud {
  font-weight: 600;
}
/* .faq-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 -1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 2rem; shadow-md rounded-lg border-1 border-[#bbbbbb]
} */
.footer-btn {
  color: #0f0f0f;
  background-color: #eff0f5;
  border: none;
  border-radius: 50rem;
  width: 10rem;
  height: 10rem;
}
.horizontal {
  width: 100%;
  background-color: gray;
  height: 1px;
  margin-top: -5rem;
}
.mail-btn {
  color: #ffffff;
  background-color: #1c1d20;
  border: solid 1px gray;
  border-radius: 8rem;
  width: 95%;
  height: 8vh;
}
@media (min-width: 640px) {
  .horizontal {
    width: 90%;
    background-color: gray;
    height: 1px;
    margin-top: -5rem;
  }
  .mail-btn {
    color: #ffffff;
    background-color: #1c1d20;
    border: solid 1px gray;
    border-radius: 8rem;
    width: 75%;
    height: 8vh;
  }
}
@media (min-width: 768px) {
  .horizontal {
    width: 80%;
    background-color: gray;
    height: 1px;
    margin-top: -5rem;
  }
  .mail-btn {
    color: #ffffff;
    background-color: #1c1d20;
    border: solid 1px gray;
    border-radius: 8rem;
    width: 45%;
    height: 8vh;
  }
}
@media (min-width: 1024px) {
  .horizontal {
    width: 60%;
    background-color: gray;
    height: 1px;
    margin-top: -5rem;
  }

  .mail-btn {
    color: #ffffff;
    background-color: #1c1d20;
    border: solid 1px gray;
    border-radius: 8rem;
    width: 30%;
    height: 10vh;

    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  .mail-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #455ce9;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    border-radius: inherit;
    z-index: 2;
  }
  .mail-btn::after {
    content: attr(data-hover);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transform: translateY(150%);
    transition: transform 0.25s ease-in-out;
    font-weight: 600;
    font-size: inherit;
    z-index: 2;
  }
  .mail-btn:hover::before {
    transform: translateY(0);
  }
  .mail-btn:hover::after {
    transform: translateY(0);
  }
  .mail-btn span {
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.1s ease;
  }

  .mail-btn:hover span {
    transform: scale(0.1);
    opacity: 0.2;
  }
  .footer-btn {
    color: #0f0f0f;
    background-color: #eff0f5;
    border: none;
    border-radius: 50rem;
    width: 10rem;
    height: 10rem;
    /* transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.1s,
      color 0.6s ease-in-out 0.15s, transform 0.5s ease-in-out; */
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  .footer-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #455ce9;
    transform: translateY(100%);
    transition: transform 0.55s ease-in-out;
    border-radius: inherit;
    z-index: 2;
  }
  .footer-btn::after {
    content: attr(data-hover);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transform: translateY(150%);
    transition: transform 0.75s ease-in-out;
    font-weight: 600;
    font-size: inherit;
    z-index: 2;
  }
  .footer-btn:hover::before {
    transform: translateY(0);
  }
  .footer-btn:hover::after {
    transform: translateY(0);
  }
  .footer-btn span {
    position: relative;
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.1s ease;
  }

  .footer-btn:hover span {
    transform: scale(0.1);
    opacity: 0.2;
  }
}
.submit-btn {
  background-color: #fff;
  color: #020202;
  border-radius: 2rem;
  border: none;
  height: 6.8vh;
  width: 100%;
  font-size: 1rem;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .submit-btn {
    background-color: #fff;
    color: #020202;
    border-radius: 2rem;
    border: none;
    height: 8vh;
    width: 40%;
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .submit-btn:hover {
    background-color: #455ce9;
    color: #fff;
    border-radius: 2rem;
    border: none;
    height: 8vh;
    width: 40%;
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
.okay-btn {
  background-color: #020202;
  color: #ffffff;
  border-radius: 2rem;
  border: none;
  height: 6.8vh;
  width: 100%;
  font-size: 1rem;
  margin: 3.5rem auto 0.5rem;
}
@media (min-width: 640px) {
  .okay-btn {
    background-color: #020202;
    color: #ffff;
    border-radius: 2rem;
    border: none;
    height: 8vh;
    width: 69%;
    font-size: 1rem;
    margin: 3.5rem auto 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
}
@media (min-width: 1024px) {
  .okay-btn {
    background-color: #020202;
    color: #ffff;
    border-radius: 2rem;
    border: none;
    height: 8vh;
    width: 70%;
    font-size: 1rem;
    margin: 3.5rem auto 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .okay-btn:hover {
    background-color: #455ce9;
    color: #fff;
    border-radius: 2rem;
    border: none;
    height: 8vh;
    width: 70%;
    font-size: 1rem;
       margin: 3.5rem auto 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
